.frontpage__text {
   color: white;
   padding-top: 40px;
   padding-left: 40px;
}

.frontpage__message {
    font-size: 3rem;
    margin-right: 20px;
    color: white;
    padding-left: 40px;
}

.frontpage__container {

    background-image:url("./896669.jpg");
    background-size: cover;
    height: 100vh;    
}

.Login {
    margin-left: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-color:white;
    padding-bottom: 5px;
}

.SignUp {
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-color:white;
    padding-bottom: 5px;
}
