.navigation {
    // background-color:  rgb(4, 36, 100);
    padding-left: 40px;
    color: white;
    margin-right: 70%;
    display: inline-block;
    
}

.HomeOwner__main__div {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background-color:  rgb(4, 36, 100);
   background-image:url("./896669.jpg")
  
   
}

.reno__logo {
    color: white;

}

.dyanmicPageContent {
    padding-top: 100px;
}