.landlord__quote__subtitle {
    color:white;
    padding-left: 50px;
    padding-top:60px;

}

.LandlordQuote {
    background-image:url("./896669.jpg");
    background-size: cover;
}

.landlordQuote__container {
    padding-bottom: 100px;
}

.navigation {
    padding-top: 50px;
}