.landlord__quote__subtitle {
    color:white;
    padding-left: 50px;
    padding-top:60px;

}

.LandlordQuote {
    background-image:url("./896669.jpg");
    background-size: cover;
}

.landlordQuote__container {
    padding-bottom: 0px;
}

.navigation {
    padding-top: 50px;
    padding-left: 40vw;
}

.landlordQuote__container {
    background-color: white;
    margin-right: 100px;
    margin-left: 100px;
    // margin-bottom: 100px;
    border-radius: 20px;
    // padding-bottom: 200px;

    @media (min-width:480px) and (max-width:767px) { 
     margin-left: 20px;
     margin-right: 20px;
     
     
    }
    
    @media (min-width: 768px) and (max-width: 1279px) {
    
    
    }
    
    @media(min-width: 1280px) {
    
    
    }

}

