.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: regba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative; 
    padding: 32px;
    width: 100%;
    max-width: 640px;
    // background-color: rgb(80, 123, 243);
    background-color: lemonchiffon;
    border-radius: 10px;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

// .modal {
//     color: red;
//     // z-index: 40;
//     width: 100px;
//     height: 100px;
//     background-color: pink;
// }

