.Quotes__container {
    background-image:url("./896669.jpg");
    background-size: cover;
    color: white;
}

.submit__quote {
    background-color:  rgb(151, 226, 151);
    border-color: #97e297;
    padding-left: 40px;
    margin-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.quote__container {
    margin-left: 30px;
    padding-top: 20px;

}

.quote__subtitle {
    margin-left: 30px;
    margin-top: 30px;

}

.quote__main__div {
    background-color: white;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
}

.quote__marketprice__header {
   font-size: 1rem;
}

.quote__data {
    font-size: 0.7rem;
    padding-left: 40px;
}

.search__box {
    padding-left: 40px;
}





