.Quotes__container {
    background-image:url("./896669.jpg");
    background-size: cover;
    color: white;
}

.submit__quote {
    background-color:  rgb(151, 226, 151);
    border-color: #97e297;
    padding-left: 40px;
    margin-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.quote__container {
    margin-left: 30px;
    padding-top: 20px;

}

.quote__subtitle {
    margin-left: 30px;
    margin-top: 30px;

}

.quote__main__div {
    background-color: white;
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
}

.quote__marketprice__header {
   font-size: 1rem;
}

.quote__data {
    font-size: 0.7rem;
    padding-left: 40px;
}

.search__box {
    padding-left: 40px;
}


.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 600px;
    height: 300px;
    border-radius: 10px;

}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s; 
    transform: scale(1.08);
}



